.list{
  max-width: 740px; 
  margin: 0 auto;
}

.list1{
  margin: 25px auto 0 auto;    
}

.list2{
  display: flex;
  justify-content: space-between;
  margin: 20px 0; 
}

.list_btn{
  margin: 25px auto;
}

.remove{
  margin: 0 10px;
  background-color: white;
  border: 1px solid white;
  color:#b22222;
}
.remove:hover{
  background-color: white;
  border: 1px solid #b22222;
}

.remove:hover:after{
  content:'remove';
  color:#b22222;
}
.fa-lg{
  margin:0 10px;
}