body{
  color: #222831;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 58px;
  text-align: center;
}

.App-header { 
  left: 0;
  top:0;
  margin-top: 0;
  height: 50px;
  font-family: 'Ramabhadra';
  background-color:#f5df4d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name{
  margin-top: 0;
  display: inline-block;
  font-size: 35px;
  font-weight: bold;
}

form{
  max-width: 700px;
	margin:20px auto;
	border-radius:2px;
	padding:20px;
}
.section{
  display: inline-block;
	padding: 9px;
  width:42%;
	border:1px solid #DDDDDD;
	margin: 0 10px 25px 10px;
	border-radius: 3px;
}

.section > label{
  display: block;
	float: left;
	margin-top: -19px;
  background: #FFFFFF;
	height: 14px;
	padding: 2px 5px 2px 5px;
  color:  #222831;
	font-size: 14px;
	overflow: hidden;
}
select, input{
  box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 99%;
	display: inline-block;
	outline: none;
	border: none;
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	padding: 0;
}
input{
  width: 96%;
}
.loan_term{
  display: inline-block;
  width: 35%;
  margin-right: 5px;
}
.dollar, .percent{
  margin-left: -10px;
}

.or{
  margin: 0 5px;
}
.btn{
  padding: 10px 0;
  border-radius: 5px;
  transition-duration: 0.4s;
  margin: 0 10px;
  width: 45%;
  font-weight: bold;
}

button:focus {outline:0;}

.send{
  color: #222831;
  background-color:#f5df4d;
  border: 2px solid #f5df4d;
}
.send:hover:enabled {
  color:#f5df4d;
  background-color:#5E5E5E;
  border: 2px solid #f5df4d;
}
.reset{
  color:#5E5E5E;
  background-color:white;
  border: 2px solid #5E5E5E;
}
.reset:hover:enabled{
  color: white;
  background-color:#939597;
  border: 2px solid #939597;
}

footer{
  background-color:  #222831;
  color:#f5df4d;
  position: fixed;
  font-size: small;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer a{
  color:#f5df4d;
}

.characters{
  opacity: 0.7;
}